apturl
autopep8
bcrypt
blinker
brlapi
certifi
chardet
chatterbot
chatterbot-corpus
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
entrypoints
fasteners
flask-cors
future
idna
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
monotonic
netifaces
oauthlib
olefile
paramiko
pexpect
pip-chill
protobuf
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
pyxdg
reportlab
requests-unixsocket
simplejson
systemd-python
torchaudio
torchvision
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
xkit
